.hero {
  background-image: url("./../images/gradienterosado.jpg");
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hero2 {
  @extend .hero;
  background-image: url("./../images/sonrienteotoño.jpg");
  background-position-y: -150px;
  height: 45vh;
  h1 {
    background-color: white;
  }
}

.hero3 {
  @extend .hero;
}
