.hero {
  background-image: url("/images/gradienterosado.jpg");
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.bannerinicio {
  background-image: url("/images/sonrienteotoño.jpg");
}

/*.hero2 {
  @extend .hero;
  background-image: url("/images/sonrienteotoño.jpg");
  height: 100%;

  h1 {
    background-color: white;
  }
}*/

.hero3 {
  background-image: url("/images/gradienterosado.jpg");
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
