@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");

$colorbody: #ffe8ef;
$fuente: "Roboto", sans-serif;
$fuentetitulos: "Arima", cursive;
$colordecitas: #c22557;
$colortextocarrusel: rgba(188, 182, 182, 0.377);
